{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">13</span> utilisateurs
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">14</span> annonces
            </div>
        </div>
    </div>
{% endblock %}
